# Personal configuration
config.yaml
temp_downloads/
.temp/

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment directories
venv/
.env/

# Log files
*.log

# IDE or OS-specific files
.DS_Store
.idea/
.vscode/
