# Personal configuration
config.yaml
temp_downloads/
.temp/
.tmp_downloads/
testbench/

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment directories
venv/
.env/

# Log files
.state
*.log
logs/*
wget-log

# IDE or OS-specific files
.DS_Store
.idea/
.vscode/
